.navbar-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 1000px;
  height: 60px;
  background-color: var(--dark2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  border-radius: 50px;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--accent1);
  font-size: 20px;
  font-weight: 600;
}
nav a:hover {
  color: var(--accent3);
}
nav .home-link {
  margin-right: auto;
}
nav .open-sidebar-button svg {
  fill: var(--accent3);
}
nav .close-sidebar-button svg {
  fill: var(--accent3);
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

@media (max-width: 735px) {
  .links-container {
    width: 100%;
    top: -100%;
    right: 0px;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    z-index: 10;
    background-color: var(--dark5);
    transition: 0.5s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    padding-left: 70px;
    margin-bottom: 20px;
    justify-content: flex-start;
    color: var(--accent1);
    font-family: var(--main-font);
    font-size: 2em;
  }
  nav a:hover {
    color: var(--accent3);
    font-weight: 600;
  }
  .open-sidebar-button,
  .close-sidebar-button {
    display: block;
    padding: 0 20px;
  }
  .close-sidebar-button {
    margin-right: 10px;
    margin-top: 38px;
  }
  #sidebar-active:checked ~ .links-container {
    top: 0;
  }
  #sidebar-active:checked ~ #overlay {
    background: transparent;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
}
