:root {
  /*GENERAL VARIABLES WHICH CAN BE ACCESSED THROUGHOUT THE WHOLE STYLESHEET*/
  --section-color: #0050ef;
  --container: #b3ff66;
  --special-font: "Libre Baskerville";
  --main-font: "Fira Code";
  --content-font: "Open Sans";
  --title-size: 3.5rem;
  --page-background: rgb(15, 15, 15);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body::-webkit-scrollbar {
  /*Makes scrollbars invisible*/
  display: none;
}

.title-container {
  font-family: var(--content-font);
  font-size: var(--title-size);
  text-align: center;
  margin: 3.7rem;
}

@keyframes floater {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
